[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
playsound3 = "*"
customtkinter = "*"
ctkmessagebox = "*"

[dev-packages]
black = "*"
flake8 = "*"
mypy = "*"
isort = "*"
pytest = "*"
coverage = "*"
genbadge = {extras = ["all"], version = "*"}

[requires]
python_version = "3.12"
